;------------------------------------------------------------------------------
;	define critical folder locations
;------------------------------------------------------------------------------

PersonalDir             "$LiteStepDir$profiles\$username$\personal\"
ThemesDir               "$LiteStepDir$profiles\$username$\themes\"
ModulesDir              "$LiteStepDir$modules\"



;------------------------------------------------------------------------------
;	load personal settings and theme
;------------------------------------------------------------------------------

include                 "$ThemesDir$themeselect.rc"
include                 "$ThemeDir$config\_compatibility_patch.rc"

LoadModule              "$LiteStepDir$NetLoadModule\NetLoadModule2.dll"
*NetLoadModuleSite      "http://lsmodules.alurcard2.net/32bit/"
NetLoadModulePath       "$ModulesDir$"
NetLoadModuleDocPath    "$ModulesDir$docs\"
NetLoadModuleZipPath    "$ModulesDir$archive\"
NetLoadModuleAliasFile  "$LiteStepDir$NetLoadModule\NetLoadModule.ini"

include                 "$PersonalDir$personal.rc"
include                 "$ThemeDir$theme.rc"
