;------------------------------------------------------------------------------
;   edit this evar to switch themes manually
;------------------------------------------------------------------------------

ThemeDir "$ThemesDir$InstDef\"
